/* CONSTANTS */
$mainBack: #FFBF8F
$sideBack: #F74855
$resultsBack: #EEE7E2
$lightText: whitesmoke

=Merriweather
  font-family: 'Merriweather', serif
  
html, body
  height: 100%
  margin: 0
  padding: 0
  
body
  background: $mainBack
  font-family: 'PT Sans', sans-serif
  
button
  border: none
  background: none
  padding: 0
  margin: 0
  &:focus
    outline: none

.clear
  width: 32px
  height: 32px
  &:before, &:after 
    position: absolute
    left: 15px
    content: ' '
    height: 33px
    width: 2px
    background-color: black
  &:after
    transform: rotate(-90deg)
  &:active:before, &:active:after
    background-color: gray

a
  color: #4286f4
  text-decoration: none
  font-weight: bold
  &:hover
      color: #70a6ff
  &:active
      color: #ADC4FF

.item
  background: $lightText
  position: relative
  width: 80%
  min-width: 200px
  max-width: 960px
  margin: 1em auto
  padding: 0.5em 0.75em
  border: 1px solid darken($lightText, 40)
  h1
    font-size: 1.5em
    margin: .2em 0
    +Merriweather
    
.article-btn
  background: $resultsBack + 5
  font-size: 1.25em
  margin: .5em
  padding: 0.25em
  border: 1px solid $sideBack
  border-radius: 5px
  position: absolute
  top: 0
  right: 0
  color: black
  &:hover
    background: $sideBack + 60
    color: lightgray
  &.saved, &.saved:hover
    background: $sideBack
    color: $lightText
  #saved-item-container
    font-size: 0.85em

#error-container
  display: none
  position: absolute
  width: 400px
  left: 50%
  transform: translateX(-50%)
  background: #D84171
  border: 1px solid #701834
  border-top: none
  border-bottom-width: 2px
  z-index: 10
  .error
    color: #EEE
    margin: 15px
    display: inline-block
  .clear
    float: right
    position: relative
    transform: rotate(45deg)
    background: none
    &:before, &:after
      background-color: #d69aa9

/* SAVED ITEMS */
#saved-item-container
  background: $sideBack
  position: absolute
  z-index: 5
  width: 300px
  height: 100%
  left: -300px
#saved-item-btn
  background: $sideBack
  width: 120px
  padding: 1em
  position: absolute
  right: -120px
  color: $lightText
  border-bottom-right-radius: 15px
  &:hover
    background: $sideBack + 40
  &:active
    background: $sideBack - 50
#saved-items
  overflow-y: scroll
  height: 100%

#placeholder
  text-align: center
  font-style: italic

/* SEARCHBAR */
main
  height: 100%
  
#search-container
  display: flex
  flex-direction: column
  justify-content: center
  
.site-title
  margin: 0 0 -0.25em
  text-align: center
  font-size: 3em
  padding-top: 0.25em
  +Merriweather

#search-bar-container
  display: flex
  flex-wrap: wrap
  text-align: center
  justify-content: center
  align-items: center
  margin: 10px 0
  
#search-bar
  width: 50%
  height: 50px
  padding-left: 1em
  margin-left: 54px
  
#search-btn
  width: 50px
  height: 50px
  opacity: 0.3
  margin-left: 4px
  &.active
    opacity: 1
  .clear
    display: none
  .magnifier
    width: 100%
    height: 100%
    transform: rotate(-45deg)
  .handle
    height: 35%
    width: 5px
    margin: 0 auto
    background: black
  .circle
    width: 60%
    height: 60%
    margin: 0 auto
    border: 1px solid black
    border-radius: 50%
    &.spin
      border: 2px dashed black
      animation: SpinAnim 3s linear infinite
      
.options
  text-align: center
  margin-bottom: 10px

@keyframes SpinAnim
  from
    transform: rotate(0deg)
  to
    transform: rotate(359deg)

#search-results
  display: none
  height: 80vh
  overflow-y: scroll
  background: $resultsBack
  .marker
    text-align: center
    color: $sideBack